/* Box sizing rules */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
}

/* Remove default padding */
ul, ol {
  padding: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Set default font size and line height */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* Set default font family */
body {
  font-family: sans-serif;
}

/* Remove the focus outline */
a:focus,
button:focus {
  outline: none;
}

body {
  width: 100%;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

body {
  font-family: roboto, sans-serif;
}
body .txt-header-footer {
  font-size: 1rem;
  line-height: 1.18rem;
  font-weight: 500;
  color: #353535;
}
body h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}
body p {
  font-size: 1.12rem;
  line-height: 1.31rem;
  font-weight: 300;
  color: #353535;
}
body .restaurant h3 {
  font-size: 1.12rem;
  line-height: 1.31rem;
  font-weight: 700;
}
body .txt-card {
  font-size: 1rem;
  line-height: 1.18rem;
  font-weight: 500;
}
body footer a {
  font-size: 1rem;
  line-height: 1.18rem;
  font-weight: 500;
  color: white;
}
body .footer--txt {
  font-size: 1rem;
  line-height: 1.18rem;
  font-weight: 400;
  color: white;
}

i.loc__icn--custm {
  width: 12px;
  height: 16px;
  color: #353535;
}

span.num-icn {
  width: 15px;
  height: 15px;
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 1.06rem;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 13px 13px 13px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: 15px;
}

.fa-mobile-screen-button, .fa-list {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.like-icn {
  position: relative;
  right: 10px;
}

.fa-utensils {
  width: 11px;
  height: 13px;
  color: white;
}

.fa-handshake-angle {
  width: 12px;
  height: 13px;
  color: white;
}

.functioning-section .card {
  width: 322.49px;
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.restaurant__card {
  background-color: white;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurant__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.restaurant__card-img {
  width: 346px;
  height: 231px;
  position: absolute;
  bottom: 90px;
}
.restaurant__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 77px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px 13px 0 13px;
  gap: 5px;
  margin-top: 173px;
}
.restaurant__card-content--pos-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-section__btn--purple {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding: 13px 18.75px;
  text-decoration: none;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 14px;
  padding-bottom: 5px;
  background-color: white;
}
.header__logo {
  width: 162px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  width: 100%;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 0 25px 22px;
  gap: 16px;
}
.footer__img {
  width: 100px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.footer__items-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EAEAEA;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
}
.loc__contnt--pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}

.intro-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 27px;
  background-color: #F6F6F6;
}
.intro-section__hdline--pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 39.5px;
  gap: 18px;
}
.intro-section__btn--pos {
  margin-bottom: 57px;
  text-align: center;
}

.functioning-section {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 20px 68px 20px;
  gap: 26px;
}
.functioning-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.functioning-section__list--items-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}

.restaurant {
  width: 100%;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  padding: 54px 18px 66px 17px;
}
.restaurant__card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=style.css.map */