//Mixins Boutons
@mixin btn-purple {
  background: $purple-gradient;
  color: white;
  box-shadow: $shadow;
  border-radius: 25px;
  border:none;
}
// Mixins de taille de police
@mixin btn-txt {
  font-size: 1rem;
  line-height: 1.18rem;
  font-weight: 500;
}

@mixin footer-txt {
  font-size: 1rem; 
  line-height: 1.18rem; 
  font-weight: 400;
}

@mixin paragraph-card-restaurant {
  font-size: 1.06rem;
  line-height: 1.25rem;
  font-weight: 300;
  color: $grey;
}
@mixin txt-icn {
font-weight: 500;
font-size: 0.94rem;
line-height: 1.06rem;
color: white;
}

@mixin paragraph {
  font-size: 1.12rem;
  line-height: 1.31rem;
  font-weight: 300;
  color: $grey;
}

@mixin subtitle-card {
  font-size: 1.12rem;
  line-height: 1.31rem;
  font-weight: 700;
}

@mixin section-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}
