@import '/scss/utils/mixins';

// Section localisation
.loc {
    display: flex;
    background-color: #EAEAEA;
    justify-content: center;
    padding-top: 15.5px;
    padding-bottom: 15.5px;

    &__contnt--pos {
        display: flex;
        align-items: center;
        gap: 17px;
    }
}

// Section Intro

.intro-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 27px;
    background-color: $grey-light;

    &__hdline--pos {
        display: flex;
        flex-direction: column;
        padding-top: 39.5px;
        gap: 18px;
    }

    &__btn--pos {
        margin-bottom: 57px;
        text-align: center;
    }
}

// Section fonctionnement 

.functioning-section {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 48px 20px 68px 20px;
    gap: 26px;

    @include desktop-padding;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;


        // styles pour les écrans larges
        @include desktop-row;
        @include large-screen {
            gap: 34.5px;
        }

        &--items-pos {
            display: flex;
            align-items: center;
            gap: 23px;
        }
    }
}

.restaurant {
    width: 100%;
    background-color: $background-grey;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 54px 18px 66px 17px;

    @include desktop-padding;





    &__card-container {
        width: 100%;
        display: flex;
        align-items: center;
        @include large-screen {
            flex-wrap: wrap;
        }
        @include desktop-row;
        
    }
}