.footer {
    width: 100%;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    padding: 22px 0 25px 22px;
    gap: 16px;

    &__img {
        width: 100px;
        filter: invert(100%);
    }
    
    &__items {
        display: flex;
        flex-direction: column;
        gap: 7px;

        &-logo {
            display: flex;
            gap:12px;
        }
    }

}