
.header {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 5px;
    background-color: white;
    position: relative;

    &__logo--pos {
        width: 162px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__return-btn--pos {
        position: absolute;
        left: 23px;
    }
}


