//Boutons dégradés
.btn-purple:hover {
  opacity: 1;

  &:hover {
    box-shadow: $shadow1;
    filter:brightness(1.2);
    transition: filter 1s ease-out, box-shadow 1ms ease-out;
  }
}


  .like-icn {
    // Couleur du cœur vide 
    transition: opacity 100ms linear;
  
    &-gradient {
      opacity: 0;
      transition: opacity 100ms linear;
    }
  }
  
 .like-icn:hover {
    opacity: 0;
  }
  
  .like-icn-gradient:hover {
    opacity: 1;       
  }
