//******************* Boutons dégradés *********************************************

.btn-purple {
  @include btn-purple;
  padding: 13px 18.75px;
  text-decoration: none;

  &:hover {
    box-shadow: $shadow1;
    filter: brightness(1.5);
    transition: filter 1.2s linear, box-shadow 1.2s linear;
  }
}

//******************* Bouton "J'aime" *********************************************
.like__btn {

  &--empty {
    transition: opacity 100ms linear;

    .like-icn:hover {
      opacity: 0;
    }
  }

  &--gradient {
    opacity: 0;
    transition: opacity 100ms linear;

    &:hover {
      opacity: 1;
    }
  }
}




//******************* Bouton "coche" *********************************************

