.card {

    &__menu {
        width: 100%;
        background-color: $background-grey;
        border-radius: 40px 40px 0 0;


        @include large-screen {
            width: 634px;
        }
    }

    &__item {
        width: 100%;
        height: 69px;
        background-color: white;
        border-radius: 15px;
        box-shadow: $shadow2;
    }
}
.items-box {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 12px;
}
