.like__btn {
    &--empty {
        font-size: 26px;
    }

    &--gradient {
        font-size: 26px;
        background-image: $purple-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }
}

.checked {
    width: 59px;
    height: 70px;
    background: $blue;
    border-radius: 0px 15px 15px 0px;

    &__icn {
        font-size: 20px;
        color: white;
    }
}

//header
.fa-arrow-left {
    font-size: 18px;
}

// Section loc
i.loc__icn--custm {
    width: 12px;
    height: 16px;
    color: $grey;
}

// Section functioning
span.num-icn {
    width: 15px;
    height: 15px;
    @include txt-icn;
    background-color: $purple;
    border-radius: 50%;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 15px;
}

.fa-mobile-screen-button,
.fa-list {
    color: #7E7E7E;
}

.fa-store {
    color: $purple;
}

// Section restaurants
.badge-icn,
.badge-icn-false {
    @include badge;

    height: 29px;
    width: 80px;
    border-radius: 2px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 9px;
    z-index: 2;
    margin-right: 15px;
}

.badge-icn-false {
    opacity: 0;
}

//footer·
.fa-utensils {
    width: 11px;
    height: 13px;
    color: white;
}

.fa-handshake-angle {
    width: 12px;
    height: 13px;
    color: white;
}