/* Box sizing rules */
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  /* Remove default margin */
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
  }
  
  /* Remove default padding */
  ul,ol {
    padding: 0;
  }
  
  /* Remove list styles */
  ul,ol {
    list-style: none;
  }

  
  /* Set default font size and line height */
  html {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Set default font family */
  body {
    font-family: sans-serif;
  }
  
  /* Remove the focus outline */
  a:focus,
  button:focus {
    outline: none;
  }
  