//Général
body {
  font-family: roboto, sans-serif;

  .txt-header-footer {
    @include btn-txt;
    color: $grey;
  }

  h2 { 
    @include section-title;
  }

  p {
    @include paragraph;
  }

  .restaurant h3 {
    @include subtitle-card;
  }

  .txt-card {
    @include btn-txt;
  }

  footer a {
    @include btn-txt;
    color: white;
  }

  .footer--txt {
    @include btn-txt;
    color: white;
    font-weight: 400;
  }
}

//Page Menu
.menu {
  h3 {
    @include subtitle-card-page;
  }
  p {
    @include paragraph-card;
  }
  .price-txt {
    @include paragraph-card;
    font-weight: 700;
  }
}
.title-txt {
  @include menu-title;
  text-align: center
}

.menu-subtitle-txt {
  @include menu-subtitle;
}


.badge-icn,.badge-icn-false {
  @include badge;
  color: $green;
}
//Soulignement bleu sous-titre menu

.blue-bar {
  border-bottom: $blue solid 3px;
}
